<p-table 
    #postsTable
    [value]="posts()" 
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rowsPerPageOptions]="[2, 5, 10]"
    [rows]="2"
    [totalRecords]="postsTotalCount"
    [lazy]="true"
    (onLazyLoad)="loadPosts($event)"
    >
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Views</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-post>
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.views }}</td>
            <td>
                <p-button label="Details" (onClick)="getPost(post.id)"/>
                <p-button class="ml-3" label="Delete" severity="danger" (onClick)="deletePost(post.id)"/>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-button label="Check" (onClick)="refresh()"/>

<p-progress-spinner *ngIf="loading" ariaLabel="loading" />
